/* https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css; */
:root{
    --primary-color:#e50914;
    --dark--color:#141414;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
font-family: Arial, Helvetica, sans-serif;
--webkit-font-smoothing:antialiased;
background-color: black;
color:#999;
/* opacity: .5; */
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
h1{
    color: white;
}
p{
    /* 1rem==16px */
    margin: .5rem 0;
}
img{
    width: 100%;
}
/* start header */
.showcase{
    width: 100%;
    height: 74.3vh;
    position: relative;
    background: url(./images/download.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.showcase::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgb(0, 0, 0,.25);
    box-shadow: inset 120px 100px 250px #000000,inset -120px -100px 250px #000000;
}
.showcase-top{
    z-index: 2;
    /* display: flex;
    justify-content: space-between; */
    position: relative;
    height: 90px;
}
.showcase-top img{
    width: 170px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.showcase-top a{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%,-50%);
}
.showcase-content{
    z-index: 2;
margin-top: 130px;
position: relative;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
/* margin: auto;    */
}
.showcase-content h1{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.1;
}
.showcase-content p{
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1.25;
    font-size: 21px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.showcase-content a{
    
}
/* End header */

/*  start tabs */
.taps .firstTap,
.taps .secTap{
width: 70px;
height: 70px;
}
.taps{
    background-color: var(--dark--color);
    padding-top: 1rem;
    border-bottom: 3px solid #3d3d3d;
}
.taps .container {
    display: flex;
    justify-content: space-around;
    text-align: center;
}
/* .taps .container{
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
} */
.container{
    max-width: 70%;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
}
.taps p{
    font-size: 1.2rem;
    padding-top: .5rem;
}
.taps .container >div{
    padding: 1.5rem 0;
}
.taps .container >div:hover{
color: white;
cursor: pointer;
}
.tab-border{
    border-bottom: var(--primary-color) 4px solid;
}
/* <!--start tab content 1  */
/* Hide content */
#tab-1-content,
#tab-2-content,
#tab-3-content{
    display: none;
}
.show{
    display: block !important;
}
.tab-1-content-inner img{
    width: 350px;
    height: 350px;
}
.tab-1-content-inner{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    /* display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:2rem;
    align-items: center;
    justify-content: center; */
}
.tab-1-content-inner p{
    color: white;
    font-size: 30px;
    margin-top: 120px;
    margin-bottom: 30px;
}
/* <!--end tab content 1  */
/* <!--start tab content 2  */
.tab-2-content-top{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:2rem;
    align-items: center;
    justify-content: center; 
    margin-top: 80px;
}
.tab-2-content-top p{
    color: white;
    font-size: 20px;
}
.tab-2-content-center{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:4rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.tab-2-content-center h3{
color: white;
margin-top: 15px;
font-size: 18px;
}
.tab-2-content-center p{
    margin-top: 20px;
    font-size: 17px;
    }
/* <!--end tab content 2  */
/* start tab content 3 */
.tab-3-content-top{
    text-align: center;
    margin-top: 40px;
}
.tab-3-content-top p{
    color: white;
    font-size: 30px;
    margin-bottom: 20px;
}
.table {
	width: 100%;
	margin-top: 2rem;
	border-collapse: collapse;
	border-spacing: 0;
}

.table thead th {
	text-transform: uppercase;
	padding: 0.8rem;
}

.table tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}

.table tbody tr td {
	color: #999;
	padding: 0.8rem 1.2rem;
	text-align: center;
}

.table tbody tr td:first-child {
	text-align: left;
}

.table tbody tr:nth-child(odd) {
	background: #222;
}
/* End tab content 3 */
.links{
    margin-top: 100px;
}
.links .first,
.links .Sec,
.links .third,
.links .forth{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    line-height: 23px;
    
}
.links .first a,
.links .Sec a,
.links .third a,
.links .forth a{
    color: #999;
}
.all{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:2rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
/* End tabs */
/* Button */
.btn{
    display: inline-block;
    color: white;
    background:var(--primary-color);
    padding: 10px 20px;
    border-radius: 2px;
    height: 40px;
    width: 90px;
    margin-right: 10px;
    font-size: 15px;
    cursor: pointer;
    outline: none;
    box-shadow:0 1px 0 rgb(0, 0, 0,0.45) ;
}
.btn:hover{
    opacity: 0.9;
}
.btn-rounded{
    border-radius: 5px;
}
.btn-xl{
    width: 415px;
    height: 60px;
    border-radius: 5px;
    font-size: 1.6rem;
    text-transform: uppercase;
    padding: 15px 30px;
}
.btn-xl:hover{
    opacity: 0.9;
}
@media (max-width:960px) {
    .showcase-top img{
    top: 50%;
    left:15%;
    }
    .taps p{
    display: none;
    }
    .showcase-content h1{
        font-size: 3.7rem;
    }
    .showcase-content p{
        font-size: 1.5rem;
    }
    .btn-xl{
        width: 300px;
        height: 50px;
        font-size: 15px;
    }
     /* tap content 1 */
    .tab-1-content-inner img{
        width: 350px;
        height: 230px;
    }

    .tab-1-content-inner p{
        color: white;
        font-size: 23px;
        margin-top: 60px;
        margin-bottom: 30px;
    }
    /* tap content 3 */
    .tab-3-content-top p{  
        font-size: 25px;
    }
    /* links */
    .all{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        
    }
}
@media (max-width:700px){
    .showcase::after{
        /* background-color: rgb(0, 0, 0,.25); */
    box-shadow: inset 80px 80px 250px #000000,inset -120px -100px 250px #000000;
    }
    /* tab content 1; */
    .tab-1-content-inner{
    flex-direction: column;
    text-align: center;
    }
    /* tab content 2 */
    .tab-2-content-top{
        grid-template-columns: repeat(1,1fr);
        text-align: center;
        
        
    }
    .tab-2-content-center{
        grid-template-columns: 1fr;
        display: grid;
        text-align: center;
        
    }
    
}