*{
box-sizing: border-box;
}
body{
    font-family: Tahoma,Arial;
    background-image: url();
}
.quiz_App{
    background-color: #f8f8f8;
    margin: 20px auto;
    width: 800px;
    padding: 15px;
}
.quiz_App .quiz_info{
    display: flex;
    background-color: white;
    padding: 20px;
}
.quiz_App .quiz_info .category{
flex:1;
}
.quiz_App .quiz_info .count{
    flex:1;
    text-align: right;

}
.quiz_App .quiz_area {
    background-color: white;
    margin: 15px;
    padding:20px ;
}
.quiz_App .quiz_area h2{
    margin: 0;
}
.quiz_App .answers_area{
    background-color: white;
    padding: 20px;
    margin:0 20px 20px ;
}
.quiz_App .answers_area .answer{
    background-color: #f8f8f8;
    padding: 15px;
}
.quiz_App .answers_area .answer:not(:last-child){
    border-bottom: 1px solid #dfdfdf;
}
.quiz_App .answers_area .answer [type="radio"]:checked+label{
    color: #0075ff;
}
.quiz_App .answers_area .answer label{
    cursor: pointer;
    color:#777;
    font-size: 14px;
    margin-left: 5px;
    position: relative;
    top: -2px;
}
.quiz_App .submit_button{
    cursor: pointer;
    border-radius: 6px;
    color: white;
    background-color: #0075ff;
    border: none;
    width: 90%;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 15px;
    display: block;
    margin: 20px auto

}
.quiz_App .submit_button:focus{
    outline: none;
}
.quiz_App .bulleits{
    border-top: 1px solid #dfdfdf; 
    display: flex;
    background-color: white;
    padding: 20px;

}
.quiz_App .bulleits .spans{
    flex: 1;
    display: flex;
}
.quiz_App .bulleits .spans span{
    width: 20px;
    height: 20px;
    background-color: #DDD;
    margin-right: 5px;
    border-radius: 50%;
}
.quiz_App .bulleits .spans span.on{
    background-color: #0075ff;
}
.quiz_App .results span{
font-weight: bold;
}
.quiz_App .results span.bad{
color: red;
}
.quiz_App .results span.good{
color: #009688;
}
.quiz_App .results span.perfect{
    color: #0075ff;
}
