html{
    scroll-behavior: smooth;
}
a{
text-decoration: none;}
body{
    font-family: 'lato',sans-serif;
    margin: 0;
    padding: 0;
}
/* start nav */
nav{
    background-color: #111;
    color: white;
    padding: 20px 50px;

}
.nav-top{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.nav-top .search{
    display: flex;
    align-items: center;
    background-color: gray;
    padding: 10px 20px;
    border-radius: 5px;
}
.SearchInput{
    background-color: gray;
    border: none;  
}
.SearchInput::placeholder{
    color: lightgray;
}
.nav-top .LimitedOffer{
    font-size:20px ;
border-bottom: 2px solid green;
cursor: pointer;
}
li{
    list-style: none;
}
.nav-Bottom ul {
    display:flex;
    align-items: center;
    justify-content: center;
}
.nav-Bottom ul li{
    margin-right:50px ;
    cursor: pointer;
    color: lightgray;

}
/* End nav */
/* start landing */
.Slider{
    /* background: url(./images/photo-1604147495798-57beb5d6af73.avif); */
    background: url("https://images.unsplash.com/photo-1604147495798-57beb5d6af73?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80");
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 79%);
overflow: hidden;
}
.landingWrapper{
    display: flex;
    width: 500vw;
    transition: all 1s ease-in-out ; 
}
.Slider .landingItem{
width: 100vw;
display: flex;
align-items: center;
justify-content: center;
position: relative;
}
.Slider .landingItem img{
    z-index: 1;
}

.Slider .landingItem .SlideBg{
position: absolute;
left: 19%;
width: 750px;
height: 750px;
border-radius: 50%;
}
.landingItem:nth-child(1) .SlideBg{
    background-color: green;   
}
.landingItem:nth-child(2) .SlideBg{
    background-color: rebeccapurple;   
}
.landingItem:nth-child(3) .SlideBg{
    background-color: teal;   
}
.landingItem:nth-child(4) .SlideBg{
    background-color: cornflowerblue;   
}
.landingItem:nth-child(5) .SlideBg{
    background-color: rgb(124, 115, 80);   
}
.Slider .landingItem h1{
    position: absolute;
    color: white;
top: 18%;
right:20%;
font-size: 50px;
font-weight: bold;
text-align: center;
}
.Slider .landingItem h2{
    position: absolute;
    left:9%;
    top: 10%;
    color: green;
    font-size: 50px;
    font-weight:300;
    border: 1px solid gray;

}
.Slider .landingItem:nth-child(1) h2{
    color: green;
}
.Slider .landingItem:nth-child(2) h2{
    color: rebeccapurple; 
}
.Slider .landingItem:nth-child(3) h2{
    color: teal;
}
.Slider .landingItem:nth-child(4) h2{
    color: cornflowerblue;
}
.Slider .landingItem:nth-child(5) h2{
    color: rgb(124, 115, 80);
}
.Slider .landingItem button{
    position: absolute;
color: white;
background-color: black;
font-size: 30px;
font-weight: bold;
border: 1px solid lightgray;
right: 21%;
cursor: pointer;
}
.Slider .landingItem button:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}
/* End landing */

/* start featurs */
.featureItem img{
    width: 50px;
    height: 50px;
}
.featurs{
    margin: 100px 50px 0 50px;
    display: flex;
    justify-content: space-around;
    text-align: center; 
    align-items: center;
}
.featureItem h3{
    font-size: 20px;
    font-weight: 600;
    margin: 20px;
}
.featureItem p{
    color: gray;
    width: 50%;
    height: 100px;
    margin: 0 auto;
}

/* End featurs */

/* start product */
.products{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
}
.products .productDetails{
    margin-top: 10%;
    margin-left: 10%;
    padding-right:3%;

}
.products .productDetails h1{
    font-size: 60px;
    font-weight: 600;
}
.products .productDetails h4{
    font-size: 30px;
}
.products .productDetails p{
color: gray;
width: 70%;
height: 100px;
font-size: 20px;
margin-bottom: 15px;
}
.colors ,
.sizes{
    display: flex;
}
.color{
    width: 32px;
    height: 32px;
    border-radius: 5px;
    background-color: black;
    margin-right: 10px;
    cursor: pointer;
}
.color:last-child{
    background-color: darkblue;
}
.size{
    padding: 5px 20px;
    border: 1px solid black;
    margin-right: 10px;
    cursor: pointer;
    margin-top: 25px;
    font-size: 20px;
}


.products .productDetails .BuyButton_sm{
    float: right;
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-weight: 600;
}
.products .productDetails .BuyButton_sm:hover{
    background-color: white;
    color: black;
}
/* End product */
/* start card */
.cardInfo{
    display: none;
}
.card{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: -160%;
    margin: auto;
    background-color: white;
    width: 650px;
    height: 600px;
    padding: 36px 0 0 36px;    
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}
.PersonalInfo .perTitle{
    color: lightgray;
    font-weight: 100;
    
    
}
h4{
    color: gray;
}
.perInput{

    color: black;
    font-size: 14px;
    font-weight: 900;
    border: none;
    border-bottom: 1px solid black;
    width: 90%;
    align-items: center;
    padding: 10px 0 0 10px;
}
.cardInformatio .cardTitle{
    color: lightgray;
    font-weight: 100;
}
.logo img{
    width: 60px;
    height: 60px;
}
.CardNumber{
    color: black;
    font-size: 15px;
    font-weight: 500;
    border: none;
    border-bottom: 1px solid black;
    width: 90%;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px 0 0 10px;
}
.threeInput{
    display: flex;
    justify-content: space-between;
    width: 90.5%;    
}
.threeInput input{
    color: black;
    font-size: 15px;
    font-weight: 500;
    border: none;
    border-bottom: 1px solid black;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px 0 0 10px;
    
}
.cardInformatio button{
    
    background-color: green;
    border: none;
    padding: 7px 0 7px 0;
    color: white;
    position: absolute;
    height: 40px;
    bottom: -40;
    width: 100%;
    left: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}
.close{
    display: flex;
    justify-content: center;
    width: 20px;
    height: 20px;
    color: white;
    background-color: gray;
    padding: 2px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
/* End card */
/* start gallary */
.Gallary{
display: flex;
margin-top: 70px;
width: 90%;

}
.GallaryItem{
    margin-left: 70px;
        flex: 1;

}
.GallaryItem .GallaryImg{
width: 400px;
}
/* End gallary */
/* start Gallary2 */
.Gallary2{
    display: flex;
    margin-top: 70px;
    width: 100%; 
}
.GallaryItem2{
    flex: 1;
    background-color: black;
    color: white;
    }
    .GallaryItem2 .GallaryImg2{
    width: 100%;
    }
    .GallaryItem2{
        text-align: center;
        align-content: center;
    }
    .GallaryItem2 h6{
    font-size: 20px;
    }
    .GallaryItem2 h3{
        font-size: 39px;

    }
    .GallaryItem2 h1{
        font-size: 45px;
    }
    .GallaryItem2 button{
        padding: 10px;
        font-size: 15px;
        font-weight: bold;
        cursor: pointer;
    }
/* End Gallary2 */
/* start footer */
.footer{
    display: flex;
    margin-bottom: 25px;
    justify-content: space-around;
}
.leftfoot{
    display: flex;
    justify-content: space-around;
    width: 50%;
}
.foot a{
    cursor: pointer;
}
.foot h5{
    font-size: 20px;
    font-weight: bold;
}
.foot h6{
    color: gray;
    font-size: 17px;
    line-height: .5px;

}
.subscribe h5{
font-size: 20px;
}
.subscribe input{
    padding: 10px 10px 10px 10px;
    font-size: 15px;
}
.subscribe button{
    padding:10px;
    font-size: 15px;
    background-color: black;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.icons{
    display: flex;
    
}
.follow h5{
    font-size: 20px;

}
.icons img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

/* End footer */
@media(max-width:700px){
    nav{
        width: 100%;
    }
    .nav-Item{
    margin-right: 105px ; 
}
    .nav-top .nav-Item .search{
    display: none;
    }
.nav-Bottom ul {
    flex-wrap: wrap;
    line-height: 50px;
    font-size: 27px;

}
/* ###### */
.landingWrapper{
    
    width: 500vw;
}
/* ###### */
.landingWrapper img {
    width: 65%;

}
.Slider{
    clip-path: none;
}
.Slider .landingItem .SlideBg{
    width: 500px;
    height: 500px;
    }
.landingWrapper .landingItem h1{
    display: none;
}
.Slider .landingItem h2{
    left:12%;
    top: 78%;
    width: 20%;
    background-color: white;
    border-radius:  6px ;
    text-align: center;
}
.Slider .landingItem button{
font-size: 45px;
right: 0%;
top: 0;

}

.featurs{
    margin-left: 15%;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.featureItem img{
    width: 120px;
    height: 120px;
}
.featureItem h3{
    font-size: 30px;
    font-weight: 600;
    margin: 20px;
}
.featureItem p{
    font-size: 25px;
    width: 300px;
}
.products{
    flex-direction: column;
    clip-path: none;
    align-items: center;
    height: 180vh;
}
.productImg{
    width: 65%;
    padding-top: 10%;
  
}
 
.products .productDetails{

}
.products .productDetails h1{
    text-align: center;
}

.products .productDetails h4{
    font-size: 40px;
    text-align: center;
}

.products .productDetails p{
width: 95%;
height: 100px;
font-size: 25px;
text-align: center;
}
.colors{
    
justify-content: center;
}
.sizes{
    justify-content: center;
}
/* ###### */
.BuyButton_sm button{
    color: red;
    margin-right: 30%;
}
/* ###### */
.card{
    position: absolute;
    left: 0;
    top: 450%;
    right: 0;
    bottom: 0;
    width: 350px;
    height: 670px;
    
    
}
.threeInput{
    flex-direction: column;
    
}

.Gallary{
    flex-direction: column;
    text-align: center;
    
    }
.GallaryItem{
    margin-bottom: 20px;
    }
.Gallary2{
    flex-direction: column;
}
    .GallaryItem2 button{
        margin-bottom: 30px;
    }
    .leftfoot{
        width:70%;
    }
    .footer{
        flex-wrap: wrap;
    }
    .follow h5{
        text-align: center;    
    }
    .icons img{
        width: 30px;
        height: 30px;
    
    }
    .icons{
        justify-content: center;
    }
}